{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    jobplus
{% endblock %}

{#flask_bootstrap的 head和scripts 是自用的  想在上面添加，需要用{{ super() }}#}
{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    <!-- Static navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><strong>jobplus</strong></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% if active == 'index' %}active{% endif %}"><a href="/">首页</a></li>
            <li class="{% if active == 'jobs' %}active{% endif %}"><a href="{{ url_for('front.jobs') }}">职位</a></li>
            <li class="{% if active == 'companies' %}active{% endif %}"><a href="{{ url_for('front.companies') }}">企业</a></li>
            <li class="{% if active == 'jobseekers' %}active{% endif %}"><a href="{{ url_for('front.jobseekers') }}">求职者</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">关于我们</a></li>
                <li><a href="#">联系方式</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <strong class="text-success">{{ current_user.name }}</strong>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    <li><a href="{% if current_user.is_JOBSEEKER %}
                        {{ url_for('jobseeker.index') }}
                        ">个人中心</a>
                       {% else %}
                        {{ url_for('company.index') }}
                        ">企业中心</a>
                        {% endif %}
                    </li>
                    <li><a href="{{ url_for('front.logout') }}">注销</a></li>
                    </ul>
                </li>
              {% else %}
                <li><a href="{{ url_for('front.login', active='jobseeker') }}">登录</a></li>
                <li><a href="{{ url_for('front.register', active='jobseeker') }}">注册</a></li>
              {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
{% endblock %}


{% block content %}
{# 巨幕信息 #}
{% block jumbotron %}
{% endblock %}

<div class="container">
{#      详情页  巨幕信息 #}
    {% block inside_jumbotron %}
    {% endblock %}
</div>

<div class="container">
{#    警告通知#}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

{#      主体内容  #}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}

