{% extends "base.html" %}

{% block inside_jumbotron %}
{#      导航页 巨幕#}
<div class="jumbotron row">
    <h1>作者：不告诉你</h1>
    <p>物种：总之是人类，不可能是外星人， 但可能是条单身汪</p>
{% endblock %}


{% block page_content %}
<h1>职业：</h1>
    <p style="font-size: 30px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        撸代码的</p>
    <br>
    <br>
    <br>
<h1>联系方式：</h1>
    <p style="font-size: 30px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        保密</p>
{% endblock %}