{% extends "base.html" %}


{% block inside_jumbotron %}
<div class="jumbotron">
    <h1>公司列表</h1>
</div>
{% endblock %}

{% block page_content %}
    <ol class="breadcrumb" style="font-size: 30px; background-color: white; margin-bottom: -20px;">
      <li class="text-primary">最新</li>
{#      <li><a href="#">最热</a></li>#}
{#      <li class="active">工资最高</li>#}
    </ol>
    <hr style="padding-bottom: 20px; ">

    {% for foo in range(0,10) %}
    <div class="row">
    {% for i in range(0,3) %}
    <div class="col-lg-4">
    <div class="thumbnail">
        <h2>公司:XXX</h2>
        <p>
          规模：XXX-XXX人
        </p>
        <span class="label label-primary">性质</span>
        <hr>
        <p>公司名称和头像</p>
        <p><a class="btn btn-Info" href="#" role="button">详细信息 &raquo;</a></p>
    </div>
    </div><!-- /.col-lg-4 -->
    {% endfor %}
    </div><!-- /.row -->
    {% endfor %}
{% endblock %}
