{% extends "base.html" %}

{% block jumbotron %}
{#      导航页 巨幕#}
<div class="jumbotron row">
<div class="col-xs-0 col-sm-0 col-md-2"></div>
<div class="col-xs-12 col-sm-12 col-md-8">
    <h1>JOBPLUS</h1>
    <p>领先的互联网求职、招聘平台</p>
</div>
<div class="col-xs-0 col-sm-0 col-md-2"></div>
</div>
{% endblock %}

{% block page_content %}
    <div class="container">
    <div class="header clearfix">
        <h3 class="text-primary">最新职位</h3>
        <hr>
    </div>

    {% for foo in range(0,2) %}
    <div class="row">
    {% for i in range(0,3) %}
    <div class="col-lg-4">
    <div class="thumbnail">
        <h2>职位名称</h2>
        <p>
          职位要求
        </p>
        <span class="label label-success">标签</span>
        <hr>
        <p>公司名称和图标</p>
        <p><a class="btn btn-Info" href="#" role="button">详细信息 &raquo;</a></p>
    </div>
    </div><!-- /.col-lg-4 -->
    {% endfor %}
    </div><!-- /.row -->
    {% endfor %}


    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4"></div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <a class="btn btn-lg btn-success btn-block" href="#" role="button">查看更多</a></p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4"></div>
    </div>



    <div class="header clearfix">
        <h3 class="text-primary">最新人才</h3>
        <hr>
    </div>

    {% for foo in range(0,2) %}
    <div class="row">
    {% for i in range(0,3) %}
    <div class="col-lg-4">
    <div class="thumbnail">
        <h2>求职职位</h2>
        <p>
          学历
        </p>
        <span class="label label-primary">标签</span>
        <hr>
        <p>求职者名字和头像</p>
        <p><a class="btn btn-Info" href="#" role="button">详细信息 &raquo;</a></p>
    </div>
    </div><!-- /.col-lg-4 -->
    {% endfor %}
    </div><!-- /.row -->
    {% endfor %}



    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4"></div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <a class="btn btn-lg btn-success btn-block" href="#" role="button">查看更多</a></p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4"></div>
    </div>

    </div>


{% endblock %}
